
body{
    background-color: rgb(243, 242, 242);
    color:rgb(36, 42, 121);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;

}
header {
    display:flex;
    align-items:center;
    background-color:rgb(253, 252, 250);
    width:100%;
    padding:15px;
    justify-content: center;

}
.logo {
    width:50px;
    margin-right:10px;
}
main{
    display:flex;
    justify-content: space-between;
    width:80%;
    margin-top: 20px;
}
#estante {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    flex:2;
}
.producto{
    border:1px solid #0df020;
    padding: 10px;
    width: 150px;
    text-align: center;
}
#carrito{
    flex:1;
    margin-left: 20px;
    border: 1px dashed #0dcef0a4;
    padding:10px;
    background:#f0f0f0;

}
h2{
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
}
.boton{
    width: 30px;
    height: 30px;
}

.productos{
    font-size: 30px;
}
.carrito{
    width: 50px;
    height: 50px; 
}

img[src="Statics/images/agregar.png"]{
    width: 25px;
    height: 25px;
}