.banner{
    position:absolute;
    top:20%;
    left:10%;
    color:white;
    z-index:2;
    text-shadow: 2px 2px 4px #0000;
}
h1{
    font-size:48px;
    margin:0;

}
.carrusel{
    position:relative;
    width:80%;
    margin:auto;
    overflow:hidden;
    display:flex;
    align-items:center;
}
.carrusel-track{
    display:flex;
    transition: transform 0.5s ease-in-out;
    gap:10px;
}
.album{
    min-width:200px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}
.carrousel-btn{
    background-color:darkgray;
    border:none;
    color:white;
    font-size:24px;
    cursor:pointer;
    padding:10px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:1;
}
.prev{
    left:0;
}
.next{
    right:0;
}