<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falcon's Music</title>
</head>
<body>
    <nav>
        <form>
            <input type="text" name="buscador" id="buscador" placeholder="Buscar">
        </form>
        <div>
            <h2 id="nombrePagina">Falcon's Music</h2>
            <img id="logo" src=""> 
        </div>
    </nav>
    <aside id="botones">
        <p>Navegar</p>
        <div><button id="btnGenero">Género</button></div>
        <div><button id="btnPlaylist">Playlist</button></div>
        <div><button id="btnArtistas">Artistas</button></div>
        <p>Libreria</p>
        <div><button>Favoritos</button></div>
        <div><button id="btnAgregar">Agregar playlsit</button></div>
    </aside>
    <section id="PaginaPrincipal">
        <div><img id="imgDecoracion" src=""></div>
        <div id="carrusel" class="carrusel">
            <button class="carrusel.btn prev">Vista de albumes</button>
            <div class="carrusel-track">
                <img src="album1.jpg" alt="Álbum 1" class="album"><!--Es solo un ejemplo de como 
                se van a declarar las imagenes para el carrusel-->
            </div>
            <button class ="carrusel-btn next">Next</button>
            
        </div>
        <div id="">
            <h2>Mas esuchados</h2>
        </div>
    </section>

    <section>

        
    </section>
    <footer>
        <img id="imagCancion">
        <p id="artistaCancionR"></p>
        <p id="cancionReproducida"></p>
        <button id="favoritos"><img></button>
        <button id="pastSong"><img></button>
        <button id="playPausa"><img></button>
        <button id="postSong"><img></button>
        <button id="colaReproduccion"><img></button>
    </footer>
</body>
</html>